
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
</head>
<body>
    <div> 

        这是登录页面。

        <a href="/Home/Index">返回</a>
    </div>
</body>
</html>
